{% extends 'base.html.twig' %}

{% block iconedec %}
{% endblock %}

{% block header %}
<div class="container px-0">
    <nav class="navbar navbar-light navbar-expand-xl py-3">
        <a href="index.html" class="navbar-brand">
            <h1 class="text-primary display-6">Nourishia</h1>
            <img src="{{ asset('img/logo.png')}}" alt="Logo" width="150" height="30">
        </a>
        <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars text-primary"></span>
        </button>
    </nav>
</div>
{% endblock %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


      <!-- Favicons -->
  <link href="{{ asset('assets/img/favicon.png') }}" rel="icon">
  <link href="{{ asset('assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{{ path('index2') }}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{{ asset('assets/img/logo.png') }}" alt=""> -->
        <h1 class="sitename">AGRONOMIX</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ path('index2') }}" class="active">Home</a></li>


          
          <li><a href="{{ path('app_main1_front') }}">My Analyses</a></li>
          <li><a href="{{ path('app_produit_indexf') }}">My Products</a></li>
          <li><a href="{{ path('app_visite_indexf') }}">Mes visites</a></li>


          
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{{ path('app_logout') }}">log out</a>
      


    </div>
  </header>
    <div class="container">
        <h1 class="mt-4">Réinitialiser votre mot de passe</h1>

        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(resetForm, { 'attr': {'novalidate': 'novalidate'} }) }}
            <div class="mb-3">
                {{ form_label(resetForm.plainPassword.first) }}
                {{ form_widget(resetForm.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(resetForm.plainPassword.first) }}
            </div>

            <div class="mb-3">
                {{ form_label(resetForm.plainPassword.second) }}
                {{ form_widget(resetForm.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(resetForm.plainPassword.second) }}
            </div>

            <button class="btn btn-primary">Réinitialiser le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
    <div class="mt-4"></div>
    </div>
{% endblock %}