{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Quantite_stock</th>
                <td>{{ produit.quantiteStock }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ produit.categorie }}</td>
            </tr>
            <tr>
                <th>Date_ajout</th>
                <td>{{ produit.dateAjout ? produit.dateAjout|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ produit.fournisseur.nom }}</td> <!-- Assuming fournisseur has a 'nom' field -->
            </tr>
            <tr>
            <th>id user</th>
            <td>{{ produit.IdUser.id }}</td> <!-- Fixed variable name --></tr>
        </tbody>
    </table>

    
{% endblock %}
